<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.moko.mkgw3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.moko.mkgw3.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/LaunchActivityTheme">

        <activity
            android:name="com.moko.mkgw3.activity.GuideActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.moko.mkgw3.activity.RemoteMainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.MqttSettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw3.activity.SetAppMQTTActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw3.activity.ModifyNameActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkgw3.activity.AboutActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.DeviceScannerActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.DeviceDetailActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.DeviceSettingActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.DeviceInfoActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.OTAActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.IndicatorSettingActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.DataReportTimeoutActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.CommunicationTimeoutActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.NetworkReportIntervalActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.DuplicateDataFilterActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.ScannerUploadOptionActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.FilterMacAddressActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.FilterAdvNameActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.FilterRawDataSwitchActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.FilterIBeaconActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.FilterUIDActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.FilterUrlActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.FilterTLMActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.FilterOtherActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.UploadDataOptionActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.SyncTimeFromNTPActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.SystemTimeActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.ModifyMQTTSettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.DeviceConfigActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.WifiSettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.NetworkSettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.NtpSettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.ScannerFilterActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.DeviceInformationActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.BleManagerActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.BXPButtonInfoActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.BleOtherInfoActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.ReconnectTimeoutActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.FilterBXPButtonActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.FilterBXPTagActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.FilterPIRActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.ModifyNetworkSettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.ModifySettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.ModifyWifiSettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.ButtonResetActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkgw3.activity.BeaconDFUActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".activity.AdvertiseIBeaconActivity"
            android:screenOrientation="portrait"/>

        <service android:name="com.moko.mkgw3.service.DfuService" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.moko.mkgw3.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>
